@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color:pink;
    --base-color:rgb(255, 255, 255);
    --text-color:#412b35;
    --input-color:#fff0f6;
    --red-color:#EE0000;
}

*{
    margin:0;
    padding:0;
}

html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size:12 pt;
    color:var(--text-color);
    text-align:center;
    }
body{
    min-height:100vh;
    background-image:url(content/bgimg4.jpg);
    background-size:cover;
    background-position:center 5%;
    overflow: hidden;
}
.wrapper{
    padding: 1%;
    /* height : 100vh ;
    width: max(100%, 1000px); 
    border-radius:0 20px 20px 0;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

h1{
    font-size:3rem;
    font-weight:750;
    text-transform:uppercase;
}

form{
   display: flex;
   flex-direction:column;
   align-items:center;
   gap:7px;
}

form>div{
    width:100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink:0;
    height:35px;
    width:35px;
    padding: .02em;
    background-color: var(--accent-color);
    color:var(--red-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow:1;
    min-width: 0;
    height:35px;
    padding: 1em;
    font:inherit;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: var(--input-color);
    transition: 200ms ease;
}

form input:hover{
    border:2px solid var(--accent-color);
}

form input:focus{
    outline:none;
    border: var(--text-color);
}
div:has(input:focus)> label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
}

form button:hover{
    background-color: var(--text-color);
    color:var(--red-color);
}

form button:focus{
    outline: none;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    text-decoration: underline;
    color: var(--red-color);
}

@media (max-width:1100px){
    body{
        background-position:center 1%;
    }
    .wrapper{
        width: min(600px, 100%);
        padding: 5%;
        border-radius: 0;
    }
    h1{
        font-size:2rem;
    }
}
form div.incorrect label{
    background-color: var(--red-color);
    color: var(--input-color);
}
form div.incorrect input{
    border: 2px solid var(--red-color);
    background-color: var(--input-color)
    
}
